.cards img{
    height:300px;
    width:300px;
    margin: 15px 15px;
    border:5px solid #f1f1f1;
    box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
}

.cards img:hover{
  transform:scale(1.05);
  box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
}



.col{
    padding:0;
}




/* 
@media (min-width: 768px){
    .cards img{
        max-width:288px;
       max-height:288px;
    }
  } */

  
@media (min-width: 768px){
    .cards img{
        max-width:300px;
       max-height:300px;
    }
  }

 
@media (min-width: 992px){
    .cards img{
        width:290px;
       height:290px;
    }
  } 


  @media (min-width: 1200px){
    .cards img{
        height:255px;
    width:255px;
    }
  } 



  /* @media (max-width: 575.98px){
    .cards img{
        min-width:300px;
        min-height:300px;
    }
  } */