
.main{
  background:#333;
  min-height:70px;
  position:fixed;
  width:100%;
  /* font-size:calc(10px + 14 * (100vw - 320px)/ 800); */
  box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
  z-index: 9;
  white-space: nowrap;
  color:#fff;
}

.navbar{
  padding-bottom:0px;
}

.main ul{
padding:0;
margin:0;
width:100%;
font-weight:900;

}

.main img{
  margin-top:-27px;
}

.main li{
  display:inline-block;
  padding:10px 0px;
  /* width:33.3%; */
  text-align:center;
}

.score{
  float:right;
 margin-top:15px;
 margin-right:20px;
}

h4{
  margin-bottom:0px;
}

.doo{
  font-size:2.5em;
  margin-top:-15px;
}


.main a{
  text-decoration:none;
  color:#fff;
  /* font-weight:900; */
}

.message{
  background:#fff;
  color:#333;
  padding:10px;
  text-align: center;
}



.score, .message{
  font-weight:normal;
}


@media (max-width: 678px){
  .score{
    width:100%;
    padding-left:0px;
    margin-top:0px;
    background:#444;
    color:#fff;
    margin-right:0px;
  }

  h4{
    font-size:1.2em;
  }

  .navbar{
    padding-left:0px;
    padding-right:0px;
    padding-bottom:0px;
  }
} 